

body{
  background-color:black;
}
#colornav {
  width: auto;
  display: block;
  height: 65px;
  background:black;
  -webkit-box-shadow: 0px 6px 10px #282c2e;
  -moz-box-shadow: 0px 6px 10px #282c2e;
  box-shadow: 0px 6px 10px #282c2e;
}

#colornav li {
  list-style: none;
  height: 44px;
  float:left;
  padding:0px 2px;
  margin-left: -10px;
}
#colornav li a {
  color: #fff;
  width: 330px;
  height: 40px;
  line-height: 63px;
  border-top: 8px solid #636393;
  padding:0px;
  font-size:18px;
  font-weight:lighter;
  color:white;
  text-align:center;
  text-decoration: none;
  display: block;
  -webkit-transition: .3s all linear;
  -moz-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
}

#colornav li:nth-child(1) a {border-color: #636393;}
#colornav li:nth-child(2) a {border-color: #B5222D;}
#colornav li:nth-child(4) a {border-color: #D4953C;}
#colornav li:nth-child(3) a {border-color: #4099FF;}

#colornav li:nth-child(1) a:hover {border-bottom: 50px solid #636393;height: 9px;}
#colornav li:nth-child(2) a:hover {border-bottom: 50px solid #B5222D;height: 9px;}
#colornav li:nth-child(4) a:hover {border-bottom: 50px solid #D4953C;height: 9px;}
#colornav li:nth-child(3) a:hover {border-bottom: 50px solid #4099FF;height: 9px;}

img{ width:500px; height:500px}

.imagebar{
margin-left: 80px;
height:110vh;
overflow: scroll;
position: fixed;
}
.image1{
cursor: pointer;
margin-bottom: 20px;
}
.image2{
cursor: pointer;
margin-top: 20px;
}
.image3{
  cursor: pointer;

}
.image4{
  cursor: pointer;

}
.image5{
  cursor: pointer;

}

* {
  box-sizing:border-box;
}

.content {
  color: white;
  margin-left: 700px;
  margin-top: 50px;
  width:550px;
  font-family:lucida grande;
}
